	<label class="item item-input">
		<span class="input-label">Name</span>
		<input type="text" placeholder="Name" ng-model="wine.name">
	</label>
	<label class="item item-input">
		<span class="input-label">Country</span>
		<input type="text" placeholder="Country" ng-model="wine.country">
	</label>
	<label class="item item-input">
		<span class="input-label">Region</span>
		<input type="text" placeholder="Region" ng-model="wine.region">
	</label>	
	<label class="item item-input">
		<span class="input-label">Description</span>
		<input type="text" placeholder="Description" ng-model="wine.description">
	</label>	
	<label class="item item-input">
		<span class="input-label">Picture file name</span>
		<input type="text" placeholder="Picture" ng-model="wine.picture">
	</label>		
			